<%= render "head" %>
<table class="table table-boldered">
    <thead>
        <tr>
            <th>ID</th>
            <th>书</th>

            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <% @books.each do |book| %>
        <tr>
            <td>
                <%= book.id %>
            </td>
            <td>
                <%= link_to(book.title, book_path(book)) %>
            </td>

            <td>
                <%#= render_book_status(book) %>
            </td>
            <td>
                <%= link_to("编辑", edit_admin_book_path(book), :class => "btn btn-xs btn-info") %>
                <%= link_to("删除", admin_book_path(book), :method => :delete, :data => { :confirm => "删除项目后不可恢复，您确定要删除吗?" }, :class => "btn btn-xs btn-danger") %>
                <%#= link_to("发布", publish_admin_book_path(book),method: :post ,:class => "btn btn-xs btn-default") %>
                <%#= link_to("下架", hide_admin_book_path(book),method: :post, :class => "btn btn-xs btn-default") %>
            </td>
        </tr>
        <% end %>

    </tbody>
</table>
