<div class="sidebar-bg">
  <h2 class="">
    个人中心
  </h2>
  <h3 class="">
    <%= active_link_to("我的资料 >", account_users_path, active: :inclusive) %><br/><br/>
    <%= active_link_to("我的收藏 >", account_favorites_path, active: :inclusive) %><br /><br/>
    <%= active_link_to("我的订单 >", account_orders_path, active: :inclusive) %>
  </h3>
</div>

<!-- <div class="sidebar-bg">
  <h2 class="">
    <span>热门图书</span>
    <span class="pull-right"><%= link_to("更多>>","#") %></span>
  </h2>
  <h3 class="">
    <%= link_to "《钢铁是怎么炼成的》","#{}" %><br />
    <%= link_to "《钢铁是怎么炼成的》","#{}" %><br />
    <%= link_to "《钢铁是怎么炼成的》","#{}" %><br />
  </h3>
</div> -->
