

<h1>我的资料
<%= link_to("修改个人资料", edit_account_user_path(@user), :class => "btn btn-sm btn-default") %>
</h1>
  <table class="table">
      <tbody>
        <!-- <div class="col-md-2 col-lg-2" align="center">
            <img src="<%#=current_user.image.mdimage%>" class="img-responsive">
        </div> -->
        <tr>
          <td>用户名</td>
          <td><%= @user.user_name %></td>
          <td></td>
        </tr>
        <tr>
            <td>电子邮箱</td>
            <td><%= @user.email %></td>
            <td></td>
        </tr>
        <tr>
          <td >年费会员</td>
          <td>
            <% if current_user && current_user.valid_subscriber?%>
              是 （<%= @user.expired_at%>到期）
            <% else %>
              否
              <td>
                <%= link_to("成为会员", plans_path, class:"btn btn-sm btn-default") %>
              </td>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            密码
          </td>
          <td>
            ******
          </td>
          <td>
          <%= link_to("修改密码", change_password_account_user_path(@user), class: "btn btn-sm btn-default" ) %>
          </td>
        </tr>
    </tbody>
</table>
