<div class="row book-row">
  <div class="col-md-12 col-lg-12">
    <div class="col-md-2 col-lg-2">
      <a class="search-book-container" href="/books/<%= @book.token %>">
        <div class="thumb">
          <%= render_book_cover_image_link(@book,:thumb) %>
        </div>
        <!-- <hr class="style-two"> -->
      </a>
    </div>
    <div class="col-md-8 col-lg-8 book-info-out" bookId="<%= @book.token %>">
      <div class="search-book-info">
        <p>书名：<%= render_book_title(@book) %></p>
        <p>作者: <%= @book.author_name %></p>
        <p>译者: <%= @book.translater_name %></p>
        <p>出版时间: <%= @book.published_date %></p>
        <p>美亚评分: TODO</p>
        <p>阅读数: TODO</p>
      </div>
      <div class="book-short-content">
        <p>
          <%= render_book_introduction(@book) %>
        </p>
      </div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
  <script>
    $(function() {
      $(".book-info-out").click(function () {
        var url = "/books/" + $(this).attr("bookId") + "/";
        window.open(url)
      });
    })
  </script>
<% end %>
