<h2>我的收藏</h2>

<% if @books.blank? %>
  <span class="blue-text">你还没有收藏哦~<%= link_to("去逛逛", root_path) %></span>
<% end %>


<% @books.each do |book| %>

<div class="col-sm-2 book-block small">
    <div class="img-cover">
        <%= render_book_cover(book) %>
    </div>
    <hr/>
    <div class="des">
        <h3>
            <%= render_book_title(book) %>
        </h3>
        <p>作者:
            <%= render_index_author_name(book) %></p>
        <p>美亚评分:
            <%=  book.rating_from_ma  %>
        </p>
    </div>
</div>
<% end %>
