<!DOCTYPE html>
<html>
    <head>
        <%= render_page_title_tag %>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    </head>

    <body>

        <div class="container page-wrap">
            <%= render "common/admin_navbar" %>
            <%= render "common/flashes" %>
            <div class="row" style=" padding-top:20px;">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                        <li><%= active_link_to("Books", admin_books_path , :active => :inclusive, :wrap_tag => :li ) %></li>
                        <li><%= active_link_to("Plans", admin_plans_path , :active => :inclusive, :wrap_tag => :li ) %></li>
                        <li><%= active_link_to("Orders", admin_orders_path , :active => :inclusive, :wrap_tag => :li ) %></li>
                          <li><%= active_link_to("Users", admin_users_path , :active => :inclusive, :wrap_tag => :li ) %></li>
                            <li><%= active_link_to("Categories", admin_categories_path , :active => :inclusive, :wrap_tag => :li ) %></li>
                    </ul>

                </div>

                <div class="col-md-10">
                    <%= render_breadcrumb %>
                    <%= yield %>
                </div>
            </div>
        </div>

        <%= render "common/footer" %>


    </body>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :javascripts %>
</html>
