<!DOCTYPE html>
<html>
    <head>
        <title>Nongsuoshu
        </title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>

    <body>
        <div class="container page-wrap">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
            <div class="row">
                <div class="col-md-12">
                    <%# render_breadcrumb %>
                    <%= yield %>
                </div>
            </div>
        </div>
        <div class="container site-footer">
            <%= render "common/footer" %>
        </div>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
            <%= yield :javascripts %>
    </body>
</html>
