<!DOCTYPE html>
<html>
    <head>
        <title>Nongsuoshu
        </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    </head>

    <body>

        <div class="container">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
            <div class="row" style=" padding-top:20px;">

                <div class="col-md-12">
                    <%# render_breadcrumb %>
                    <%= yield %>
                </div>
            </div>
        </div>

    </body>
    <div class="container">
        <%= render "common/footer" %>
    </div>





            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <%= yield :javascripts %>
</html>
