<!DOCTYPE html>
<html>
    <head>
        <title>Nongsuoshu
        </title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
      <%= render "common/navbar" %>
        <div class="container col-md-12">
            <%= render "common/flashes" %>
            <div class="row" style=" padding-top:20px;">
                <div class="col-md-12">
                    <%# render_breadcrumb %>
                    <%= yield %>
                </div>
            </div>
        </div>

    </body>
        <%= render "common/footer" %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascripts %>
</html>
