<!DOCTYPE html>
<html>
    <head>
        <%= render_page_title_tag %>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="/images/favicon.ico">
    </head>

    <body>
        <div>
          <%= render "common/navbar" %>
        </div>

        <div class="container page-wrap ">
            <%= render "common/flashes" %>
             <%# render_breadcrumb %>
            <%= yield %>
        </div>


          <%= render "common/footer" %>

            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
            <%= yield :javascripts %>
    </body>
</html>
