<!DOCTYPE html>
<html>
  <head>
      <%= render_page_title_tag %>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel="shortcut icon" href="/images/favicon.ico">
  </head>

  <body>
      <%= render "common/navbar" %>
      <div class="container body-bg">
        <div class="container col-md-2">
            <%= render "/categories/left_sidebar" %>
        </div>

        <div class="col-md-10">
          <%= render "common/flashes" %>
          <div class="user-wrap-main">
            <%= yield %>
          </div>
        </div>
      </div>

        <%= render "common/footer" %>

    <%= yield :orders_javascript %>
  </body>
</html>
